.homeWraper {
  background-image: url("../../../assets/images/client-doing-hair-cut-barber-shop-salon.jpg");
  height: 100vh;
<<<<<<< HEAD
  width: 100%;
=======

>>>>>>> e752c1ca66739d039ecb4a3f4767bb7965805a94
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  border-bottom: 20px solid var(--color-primary);
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(214, 162, 84, 0.6), rgba(128, 255, 212, 0.67));

}
.homeWraper .homeWraper-info{
  margin-top: 35%;
}
.homeWraper .homeWraper-info> h1 {
  font-size: 70px;
  font-weight: 900;
  color: var(--color-light);

}

.homeWraper .homeWraper-info> p {
  font-size: 25px;
  color:var(--color-dark) ;
}

.homeWraper .homeWraper-info> button {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.homeWraper .homeWraper-info> button {
  width: 140px;
}

.homeWraper .homeWraper-info>button:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}



.hurry-up {
  position: absolute;
  width: 400px;
  height: 400px;
  right: -100px;
  bottom: -70px;
  border: 10px solid var(--color-primary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.hurry-up-img {
  width: 150px;
  height: 150px;
  background-image: url("../../../assets/images/vintage-chair-barbershop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid var(--color-primary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(10%, 20%);
  -webkit-transform: translate(50%, -40%);
  -moz-transform: translate(10%, 20%);
  -ms-transform: translate(10%, 20%);
  -o-transform: translate(10%, 20%);
}

.hurry-up-content {
  transform: translate(15%, -10%);
  -webkit-transform: translate(15%, -10%);
  -moz-transform: translate(15%, -10%);
  -ms-transform: translate(15%, -10%);
  -o-transform: translate(15%, -10%);
  color: var(--color-light);
}

.hurry-up-content h4 {
  font-size: 30px;
  font-weight: 900;
}

.hurry-up-content button {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  width: 140px;
  font-weight: 600;
}

.hurry-up-content button:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}