.hairdressers-head {
  padding:0 0 50px 0;
  border-bottom: 1px solid var(--color-dark-light);
  margin: 20px 0;
}

.hairdressers-head> h2 {
  font-size: 30px;
  font-weight: 900;
}

.hairdressers-head> p {
  color: var(--color-dark-light);
  font-size: 20px;
  margin: 20px 0;
}

.hairdressers-head >p> span {
  color: var(--color-primary);
  cursor: pointer;
}

.Babers> h4 {
  margin-bottom: 100px;
}

.socialContainer{
  width: 40px;
  height: 40px;
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
color: var(--color-light);
}
.socialContainer:hover{
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  cursor: pointer;
}


